.work {
  background-color: #1387812a; /* Light mode background color */
  margin-left: 120px;
  margin-right: 120px;
}

.work-exp {
  padding: 60px 0px;
}

.work-exp h2 {
  font-weight: bold;
  color: #1e1e2c; /* Dark text color */
}

.work-exp hr {
  color: #138781; /* Timeline color */
  width: 400px;
  margin: 10px auto;
}

.work-exp .vertical-timeline-element-title {
  color: #138781; /* Timeline element title color */
}

.work-exp .vertical-timeline-element-subtitle {
  color: #1e1e2c78; /* Timeline element subtitle color */
}

/* Dark Mode */
#dark .work {
  background-color: #1387812a; /* Dark mode background color #292b2c */
}

#dark .work-exp h2 {
  color: white; /* Dark mode text color */
}

#dark .work-exp .vertical-timeline-element-date {
  color: #76c7c0; /* Lighter green text color in dark mode */
}

/* Responsive styles */
@media (max-width: 600px) {
  .work {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }

  .work hr {
    width: 280px; /* Adjusted width for smaller screens */
  }
}
